// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
   
  
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 10px solid transparent;
    border-radius: 40px;
    text-align: center;
  }